# data and secrets
data/
*.csv
*.tsv
*.parquet
*.jsonl
*.zip
*.7z

# python junk
__pycache__/
*.pyc
.venv/
venv/
.env

# notebooks
.ipynb_checkpoints/

# outputs
*.pt
*.pth
*.pkl
*.joblib

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/
